{% extends 'base.html' %}

{% block title %}Rooms{% endblock title %}

{% block content %}
    <h2>Rooms</h2>
    <ul>
        {% for room  in rooms %} 
            <li>{{ room }}</li>
        {% endfor %}
            
        {% comment %} My test below: rooms/test_key here refers to the key in the context/dictionary 
        rendered via the views->rooms_list function  {% endcomment %}         
        {% comment %} {% for room  in test_key %} {% endcomment %}
        {% comment %} <li>{{ room.name }} on floor {{ room.floor }}</li> {% endcomment %}
    </ul>
    
    <a href="{% url 'welcome' %}">Home</a>
{% endblock content %}