{% extends 'base.html' %}
{% comment %} load static here, loaded only in template gives an error {% endcomment %}
{% load static %}
{% block title %}Welcome{% endblock title %}

{% block content %}
    <h1>Welcome to the meeting planner!</h1>
    <p>
        This is the demo application for the course
        <em>Django: Getting started</em>
        on <a href="https://www.pluralsight.com">Pluralsight</a>
    </p>

    {% comment %} <img src="{% static 'website/beer.jpeg' %}" width="250px">  {% endcomment %}
    <img src="{% static 'website/calendar.png' %}" width="50px">     

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <li>
                {% comment %} <a href="/meetings/{{meeting.id}}">{{ meeting.title }}</a> {% endcomment %}
                <a href="{% url 'detail' meeting.id %}">{{ meeting.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'rooms' %}">Rooms list</a>
{% endblock content %}